<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .success{
            color: green;
        }
        .error{
            color: red;
        }
    </style>
</head>
<body>
    {% for i in messages %}
        <li class="{{i.tags}}">{{i}}</li>
    {% endfor %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
        Username: <input type="text" name="username"><br>
        password: <input type="text" name="password"><br>
        <input type="submit" value="login">
    </form>
</body>
</html>