<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        Username: <input type="text" name="username"><br>
        email: <input type="text" name="email"><br>
        first_name: <input type="text" name="first_name"><br>
        first_name: <input type="text" name="first_name"><br>
        last_name: <input type="text" name="last_name"><br>
        phone: <input type="number" name="number"><br>
        password: <input type="text" name="password"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>