{% extends 'product/base.html' %}
{% block body %}
<h1 align="center">Publish a new product</h1>
<form action="{% url 'PublishProduct' %}" method="post"><br>
    {% csrf_token %}
   Product Name: <input type="text" name="name"><br>
   Description: <textarea name="description" id="" cols="30" rows="10"></textarea><br>
   discount %: <input type="number" name="discount"><br>
   after discount pirce: <input type="number" name="after_discount_pirce"><br>
   <input type="submit" class="btn btn-primary" value="add product"><br>
</form>

{% endblock body %}